In [2]:
from pydantic import BaseModel, Field
from typing import Optional

In [3]:
class Employee(BaseModel):
    name : str = Field(title="Name : ")
    age : int = Field(title="Age")
    gender : Optional[str] = Field(title="Gender")

In [9]:
emp = {
    "name" : "Bhuvanesh"
}

In [12]:
import pandas as pd

In [13]:
frame = pd.read_excel("/Users/dev/Desktop/Book2.xlsx")

In [14]:
frame.head()

     Lname      Fname  Age Gender
0    Bonde  Bhuvanesh   19      M
1    Bonde     Aditya   19      M
2    Patil   Abhishek   29      M
3  Bhagwat        NaN   19      M
4   Warode   Prabakar   20    NaN

In [17]:
frame[frame.isna().any(axis=1)]

     Lname     Fname  Age Gender
3  Bhagwat       NaN   19      M
4   Warode  Prabakar   20    NaN

In [16]:
frame

     Lname      Fname  Age Gender
0    Bonde  Bhuvanesh   19      M
1    Bonde     Aditya   19      M
2    Patil   Abhishek   29      M
3  Bhagwat        NaN   19      M
4   Warode   Prabakar   20    NaN

In [18]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

app = firebase_admin.initialize_app()
db = firestore.client()

In [26]:
otp_doc = (
        db.collection("otps")
        .where("employee_id","==","26b07dd4fb7242468992f0bab6e17186")
        .where("verified","==",False)
        .order_by("created_at",direction=firestore.Query.DESCENDING)
        .limit(1)
        .stream()
    )

/Users/dev/miniforge3/envs/fastapi-python/lib/python3.11/site-packages/google/cloud/firestore_v1/base_collection.py:290: UserWarning: Detected filter using positional arguments. Prefer using the 'filter' keyword argument instead.
  return query.where(field_path, op_string, value)
/var/folders/_c/410sh5ps6bb_wy2yzm83k2mc0000gn/T/ipykernel_4442/2929103894.py:4: UserWarning: Detected filter using positional arguments. Prefer using the 'filter' keyword argument instead.
  .where("verified","==",False)

In [27]:
otp_doc = [otp for otp in otp_doc]
otp_doc = [otp.to_dict() for otp in otp_doc]

In [28]:
len(otp_doc)

1

In [36]:
AttendanceLog = {
    "is_present" : None,
    "punch_in_time" : None,
    "punch_out_time" : None,
    "start_duty" : None,
    "relieved" : None,
    "comment" : list
}

True